<h2>Listing Transactions</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
<%= for transaction <- @transactions do %>
    <tr>
      <td><%= transaction.outflow %></td>
      <td><%= transaction.inflow %></td>
      <td class="text-right">
        <span><%= link "Show", to: plan_account_transaction_path(@conn, :show, @plan, @account, transaction), class: "btn btn-default btn-xs"%></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
