<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BudgetSimple</title>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="bg-near-white sans-serif">
    <div class="bg-blue h4-5 h5-ns">
      <header class="mw7 center pt4 pt5-ns">
        <nav class="mw-inherit w-100 blue tc white relative fixed flex-ns items-center justify-between">
          <div class="ml3 tl">
            <a href="/" class="blue b link bg-white br-100 pa2 ba bw2 b-solid b-white f2 h3 w3 dib tc">B</a>
          </div>
          <input type="checkbox" id="burger" class="absolute top-2 right-1 dn">
          <label for="burger" class="dn-ns pointer absolute top-1 right-1">
            <div class="mid-gray b dib f5 bg-near-white br2 pa2">Menu</div>
          </label>
          <ul class="overflow-hidden menu dib-ns list tc pl0 pt3-ns mv0 f3 f5-ns">
            <%= if @current_user do %>
              <li class="pt4 pb3 di-ns"><%= link "Budgets", to: plan_path(@conn, :index), class: "link di-ns mr3 near-white" %></li>
              <li class="pv3 di-ns"><%= link "Logout", to: session_path(@conn, :delete, @current_user), method: :delete, class: "link di-ns mr3 near-white" %></li>
              </div>
            <% else %>
              <li class="pt5 pv3 di-ns"><%= link "Signup", to: user_path(@conn, :new), class: "link di-ns mr3 near-white" %></li>
              <li class="pv3 di-ns"><%= link "Login", to: session_path(@conn, :new), class: "link di-ns mr3 near-white" %></li>
            <% end %>
          </ul>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main" class="mw7 center nt6-5">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <div class="modal">
        <div class="modal-inner">
          <div class="modal-content"></div>
        </div>
      </div>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
