<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BudgetSimple</title>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="mw7 center mt4 sans-serif">
      <header>
        <nav class="flex">
          <a class="f4 blue link w-25" href="/" title="Home">
            <span class="b">Budget</span>Simple
          </a>

          <%= if @current_user do %>
            <div class="w-75 tr">
              <%= link "Budgets", to: plan_path(@conn, :index), class: "link dib mr3 mid-gray" %>
              <%= link "Logout", to: session_path(@conn, :delete, @current_user), method: :delete, class: "link dib mr3 mid-gray" %>
            </div>
          <% else %>
            <div class="w-75 tr">
              <%= link "Signup", to: user_path(@conn, :new), class: "link dib mr3 mid-gray" %>
              <%= link "Login", to: session_path(@conn, :new), class: "link dib mr3 mid-gray" %>
            </div>
          <% end %>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
