<div class="mt5">
  <h1><%= @account.name %></h1>
  <%= link "Add Transaction", to: plan_account_path(@conn, :new, @plan_id) %>

  <ul>
    <%= for transaction <- @transactions do %>
      <li><%= transaction.date %> - <%= transaction.merchant %> - <%= transaction.outflow %> - <%= transaction.inflow %> - <%= transaction.category.name %></li>
    <% end %>
  </ul>
  <span><%= link "Back", to: plan_path(@conn, :show, @plan_id) %></span>
</div>
